.equipamiento {
    text-align: center;
  }
  
.equipamiento-body {
    display: flex;
    height: 89vh;
    /*flex-direction: column; /*alineación vertical para los contenedores*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
  }
